/* Adding fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

/* removing margins, padding and border */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    color: blue;
    font-family: Odwald, sans-serif;
    font-weight: 300;
}

/* header and logo */

header {
    background-color: black;
}

#logo {
    float: left;
}