/* Adding fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

/* removing margins, padding and border */
* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Odwald, sans-serif;
    font-weight: 300;
    background-color: black;
}

/* header and logo */

#logo {
    float: left;
    margin: 20px 20px;
}

/* navigation links */

#nav-menu {
    font-size: 25px;
}

#nav-menu,
#logo {
    line-height: 170px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    text-decoration: underline;
    color: #fdc029;
}

#nav-menu .active {
    color: #fdc029;
}

/* main video/image */

#landing-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#landing-img {
    height: 600px;
    width: 100%;

    /* animation effect on landing image */

    animation-name: landing-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creats the level of zoom for the image */

@keyframes landing-img-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}