/* Adding fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

/* removing margins, padding and border */
* {
    padding: 0;
    margin: 0;
    border: none;
}

/* adding font family and colour to all text unspecified */
body {
    font-family: Odwald, sans-serif;
    font-weight: 300;
    background-color: black;
}

/* header and logo */

#logo {
    float: left;
    margin: 20px 20px;
}

/* navigation links */

#nav-menu {
    font-size: 25px;
}

#nav-menu,
#logo {
    line-height: 170px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    text-decoration: underline;
    color: #fdc029;
}

#nav-menu .active {
    color: #fdc029;
}

/* main video/image and landing text */

#landing-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#landing-text,
#landing-text h2 {
    color: #fff;
}

#landing-img {
    height: 600px;
    width: 100%;

    /* animation effect on landing image */

    animation-name: landing-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#landing-text {
    font-family: oswald, sans-serif;
    font-size: 150%;
    text-transform: uppercase;

    width: 450px;
    height: 145px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(253, 192, 41, .7);

    top: 50px;
    left: 35%;

    position: absolute;
}

#landing-text {
    height: 145px;
    width: 450px;

    /* animation effect on landing text */

    animation-name: landing-text-slidein;
    animation-duration: 5s;
}

/* create's the level of zoom for the image */

@keyframes landing-img-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* create the level of zoom for landing text */
@keyframes landing-text-slidein {
    from {
        margin-top: 100%;
        width: 450px
    }

    to {
        margin-top: 0%;
        width: 450px;
    }
}