/* Adding fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

/* removing margins, padding and border */

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: Odwald, sans-serif;
}

/* adding font family and colour to all text unspecified */

body {
    font-weight: 300;
    background-color: black;
    font-family: Odwald, sans-serif;
}

/* header and logo */

#logo {
    float: left;
    margin: 20px 20px;
}

/* navigation links and logo*/

.toggler {
    visibility: hidden;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

#nav-menu {
    font-size: 25px;
    float: right;
}

#nav-menu,
#logo {
    line-height: 170px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    text-decoration: underline;
    color: #fdc029;
}

#nav-menu .active {
    color: #fdc029;
}

/* main video/image and landing text */

#landing-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #fdc029;
    border-top: 5px solid #fdc029;
}

#landing-text,
#landing-text h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;

}

#landing-text a {
    color: #fff;
}

#landing-img {
    height: 600px;
    width: 100%;
    overflow: hidden;

    /* animation effect on landing image */

    animation-name: landing-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#landing-text {
    font-family: oswald, sans-serif;
    font-size: 150%;
    height: 150px;
    width: 450px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(253, 192, 41, .7);

    top: 30%;
    left: 35%;
    position: absolute;
    border-radius: 2%;

    /* animation effect on landing text */

    animation-name: landing-text-slidein;
    animation-duration: 5s;
}

/* create's the level of zoom for the image */

@keyframes landing-img-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* create the level of zoom for landing text */

@keyframes landing-text-slidein {
    from {
        margin-top: 100%;
        width: 450px
    }

    to {
        margin-top: 0%;
        width: 450px;
    }
}

/* join the club section */

#meet-the-team {
    height: 1400px;
}

#mtt-top-text {
    color: #fff;
    padding: 0 350px;
}

#mtt-bottom-text {
    color: #fff;
    padding: 0 150px;
}

#mtt-img {
    height: 1000px;
    width: 250px;
}

/* styling the writing for join the club section */

.mtt-top-heading {
    width: 100%;
    text-align: center;
    float: right;
    clear: both;
    margin-bottom: 100px;
    line-height: 20px;
}

.mtt-top-heading i,
.mtt-bottom-heading i {
    color: #fdc029;
}

.mtt-bottom-heading {
    width: 100%;
    text-align: center;
    float: right;
    clear: both;
    margin-bottom: 100px;
    line-height: 20px;
}

.mtt-bottom-heading h2 {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.mtt-top-heading h2 {
    font-size: 25px;
    text-transform: uppercase;
}

/* heading for join the club section */

#join {
    color: #fff;
    width: 100%;
    float: right;
    text-align: center;
    font-size: 280%;
    margin: 30px 0 100px 0;
    text-transform: uppercase;
}

/* join the club video */

/*#video-container {
    display: block;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}*/

#video {
    width: 800px;
    position: absolute;
    border-color: #fdc029;
    border-width: 5px;
    border-style: solid;
    margin: 900px 0 0 350px;
    background-position: center;
}

/* times and locations tiles */

#collection-cars {
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/collection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* text overlay do enhance the text */

.overlay {
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 50px;
}

#future-cars {
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/futureicon\ \(2\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#euro-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/euro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#japan-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/japanese.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#usa-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/usa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* time and locations text */

#time-location {
    height: 400px;
}

#time-location h2 {
    font-family: oswald, sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fdc029;
    font-size: 50px;
    text-shadow: 3px 0 black;
}

#time-location h3 {
    font-family: oswald, sans-serif;
    font-weight: 800;
    text-align: center;
    color: #fdc029;
    font-size: 30px;
    text-shadow: 3px 0 black;
}

/* footer & social links */
footer {
    text-align: center;
}

.social-links {
    text-align: center;
    display: inline;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: #fdc029;
}

/* copyright section at bottom of footer */

h4 {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

/* about matt section on about us page */

#about-us-section {
    width: 100%;
    padding: 30px;
    float: left;
    border-top: 5px solid #fdc029;
    border-bottom: 5px solid #fdc029;
}

/* headings h1-h3 */

#about-us-section h1 {
    text-align: center;
    color: #fdc029;
    font-size: 35px;
    text-decoration: underline #fdc029;
}

#about-us-section h2 {
    text-align: left;
    color: #fdc029;
    font-size: 30px;
    text-decoration: underline #fdc029;
}

#about-us-section h3 {
    text-align: left;
    color: #fdc029;
    font-size: 25px;
}

/* paragraph */

#about-us-section p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    padding-right: 100px;
    padding-left: 10px;
}

/* gallery page */

.gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    border-top: 5px solid #fdc029;
}

.gallery>img {
    width: 100%;
    border: 2px solid #fdc029;
}

/*contact us page and sign up form*/

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding: 20px 100px;
    border-top: 5px solid #fdc029;
}

.form-container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/contact/contactform.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.form-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: montserrat, sans-serif;
    background-color: black;
    border: 2px solid #fdc029;
}

/* form box heading */

.form-box h2 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-box h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #fdc029;
}

.form-box h3 {
    position: relative;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-box h3::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #fdc029;
}

/* form box images on the left of the form box */

.form-left {
    height: 100%;
    background: url(../images/contact/Contactform.jpg) no-repeat center;
    background-size: cover;
}

.signup-left {
    height: 100%;
    background: url(../images/signup/signup.jpg) no-repeat center;
    background-size: cover;
}

/* right form section where inputs are made */

.form-right {
    padding: 25px 40px;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
}

.field:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.field:focus {
    background-color: #fff;
    border: 2px solid #fdc029;
}

.yes,
.no {
    color: #fff;
}

.area {
    min-height: 300px;
}

/* form button */

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(253, 192, 41, 1);
    outline: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(253, 192, 41, .7)
}

/* company information below the contact us form */

#address-info {
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 5px solid #fdc029;
}

#address-info h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-decoration: underline #fdc029;
}

#address-info h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

/* map of the location comapny is based */

#map {

    height: 400px;
    border-bottom: 5px solid #fdc029;
}

#map-img {
    height: 100%;
    width: 100%;
    border: none;
}

/* screens sizes 1100px wide or less */

@media screen and (max-width: 1100px) {

    /* responsive size for landing text and join the club text*/

    #landing-text {
        left: 10%;
        top: 30%;
        width: 350px;
    }

    #join {
        padding: 30px 0;
        margin: 0;
    }

    /* responsive size for meet the team section */

    #mtt-top-text,
    #mtt-bottom-text {
        width: 100%;
        float: left;
        padding: 0;
    }

    #meet-the-team {
        width: 90%;
        margin: 0 auto;
    }

    #mtt-img {
        width: 100%;
        clear: both;
        float: left;
        padding: 0;
    }

    .mtt-top-heading,
    .mtt-bottom-heading {
        width: inherit;
    }

    .mtt-top-heading h2,
    .mtt-bottom-heading h2 {
        width: 100%;
        text-align: center;
    }

    .mtt-top-heading p,
    .mtt-bottom-heading p {
        text-align: center;
        padding: 0 20px;
    }

    /* responsive size for meeet the team video */

    #video {
        width: 600px;
        margin-left: 175px;
    }

    /* responsive size for gallery page */

    .gallery {
        column-count: 3;
    }

    #about-us-text p {
        font-size: 15px;
        padding-left: 50px;
    }

}

/* screens sizes 980px wide or less */

@media screen and (max-width: 980px) {

    /* medium screen size for header */

    /* turning menu into hamburger menu for smaller screens */

    /* hamburger menu */

    .toggler {
        visibility: visible;
    }

    .menu-wrap {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        width: 50px;
        height: 50px;
        opacity: 0;
    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 60px;
        height: 60px;
        padding: 1rem;
        background: rgba(253, 192, 41, .75);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* hamburger line */

    .menu-wrap .hamburger>div {
        position: relative;
        flex: none;
        width: 100%;
        height: 2px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }

    /* top and bottom lines */
    .menu-wrap .hamburger>div:before,
    .menu-wrap .hamburger>div:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
    }

    /* moves line to bottom */
    .menu-wrap .hamburger>div::after {
        top: 10px;
    }

    /* animation for hamburger menu */

    .menu-wrap .toggler:checked+.hamburger>div {
        transform: rotate(135deg);
    }

    /* turn into x on rotate */

    .menu-wrap .toggler:checked+.hamburger>div:before,
    .menu-wrap .toggler:checked+.hamburger>div:after {
        top: 0;
        transform: rotate(90deg);
    }

    /* rotate on hover when checked */

    .menu-wrap .toggler:checked:hover+.hamburger>div {
        transform: rotate(225deg);
    }

    /* show menu */

    .menu-wrap .toggler:checked~.menu {
        visibility: visible;
    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: var(--menu-speed);
    }

    .menu-wrap .toggler:checked~.menu>div>div {
        opacity: 1;
        transition: opacity 0.4s ease 0.4s;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrap .menu>div {
        background: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        width: 200vw;
        height: 200vw;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        transform: scale(0);
        transition: all 0.4s ease;
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    .menu-wrap .menu>div>div>ul>li>a {
        color: inherit;
        text-decoration: none;
        transition: color 0.4s ease;
    }

    /* logo and nav menu */

    #logo {
        float: right;
        max-height: 66px;
        max-width: 150px;
        width: 100%;
    }

    #nav-menu {
        font-size: 10px;
        width: 100%;
        padding-right: 100px;
    }

    #nav-menu,
    #logo {
        line-height: 60px;
    }

    /* medium screen size for landing image */

    #landing-text {
        left: 10%;
        top: 20%;
    }

    /* medium screen size for the meet the team section */

    #meet-the-team {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .mtt-top-heading,
    .mtt-bottom-heading {
        width: inherit;
    }

    .mtt-top-heading h2,
    .mtt-bottom-heading h2 {
        width: 100%;
        text-align: center;
    }

    .mtt-top-heading p,
    .mtt-bottom-heading p {
        text-align: center;
        padding: 0 20px;
    }

    /* medium screen size for meet the team video */

    #video {
        width: 400px;
        margin-left: 30px;
    }

    /* medium screen size for gallery */

    .gallery {
        column-count: 2;
    }

    /* contact info size for medium screens */

    #address-info h1 {
        font-size: 15px;
    }

    #address-info h2 {
        font-size: 10px;
    }

    /* medium screens size for forms */

    .form-box {
        grid-template-columns: 1fr;
    }

    .form-left {
        height: 200px;
    }

    .signup-left {
        height: 100px;
    }

    /* medium screen size for times and location */

    #time-location div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    #time-location h2 {
        font-size: 20px;
    }

    #time-location h3 {
        font-size: 15px;
    }

    #collection-cars {
        margin-top: 18px;
    }

    /*medium screen size for about us page */

    #about-us-text h1 {
        font-size: 10px;
    }

    #about-us-text h2 {
        font-size: 8px;
    }

    #about-us-text h3 {
        font-size: 6px;
    }

    #about-us-text p {
        font-size: 4px;
        padding-left: 50px;
    }

    /* medium screen size form sizing */

    .form-container {
        padding: 20px 10px;
    }

}

/* screens 768px wide */

@media screen and (max-width: 768px) {

    /* ipad video centering */

    #video {
        width: 500px;
        margin-left: 100px;
    }

    /* centering the footer */

    #footer {
        position: absolute;
    }
}

/* screens 550px wide */

@media screen and (max-width: 550px) {

    /*header for mobile screen */

    #logo {
        max-height: 66px;
        max-width: 150px;
        width: 100%;
        margin-left: 80px;
    }

    #nav-menu {
        font-size: 5px;
        padding-right: 5px;
    }

    /*hero image and text for mobile screen*/

    #landing-text {
        font-size: 100%;
        width: 260px;
        left: 10%;
        top: 40%;
    }

    /* mobile size for meet the team section*/

    #about-us-text p {
        font-size: 8px;
        padding-left: 20px;
    }

    /* mobile size for time and location section */

    #time-location {
        padding-top: 280px;
    }

    /* mobile size for gallery page */

    .gallery {
        column-count: 1;
    }

    /* mobile size for video in meet us section */

    #video {
        width: 325px;
        margin-left: 4px;
        margin-top: 1250px;
    }

    /* mobile size for the footer */

    .social-links {
        font-size: 10px;
    }

}

/* smallest mobile size for centering video */

@media screen and (max-width: 375px) {
    #video {
        width: 300px;
        margin-left: -6px;
        margin-top: 1250px;
    }
}