/* Adding fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

/* removing margins, padding and border */
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: Odwald, sans-serif;
}

/* adding font family and colour to all text unspecified */
body {
    width: 100%;
    font-weight: 300;
    background-color: black;
    font-family: Odwald, sans-serif;
}

/* header and logo */

#logo {
    float: left;
    margin: 20px 20px;
}

/* navigation links */

#nav-menu {
    font-size: 25px;
    float: right;
}

#nav-menu,
#logo {
    line-height: 170px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
}

#nav-menu a {
    text-decoration: none;
    color: white;
}

#nav-menu a:hover {
    text-decoration: underline;
    color: #fdc029;
}

#nav-menu .active {
    color: #fdc029;
}

/* screens 750px wide */
@media screen and (max-width: 750px) {

    #logo {
        max-height: 66px;
        max-width: 150px;
        width: 100%;
    }


    #nav-menu {
        font-size: 10px;
        width: 100%;
    }

    #nav-menu,
    #logo {
        line-height: 60px;
    }
}

/* screens 450px wide */
@media screen and (max-width: 450px) {

    #logo {
        max-height: 66px;
        max-width: 150px;
        width: 100%;
        margin-left: 20%;
    }


    #nav-menu {
        font-size: 7px;
        width: 100%;
    }
}

/* main video/image and landing text */

#landing-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    border-bottom: 5px solid #fdc029;
    border-top: 5px solid #fdc029;
    background-size: cover;

    position: relative;
}

#landing-text,
#landing-text h2 {
    color: #fff;
    font-size: 25px;
    text-align: center;

}

#landing-text a {
    color: #fff;
}

#landing-img {
    height: 600px;
    width: 100%;

    /* animation effect on landing image */

    animation-name: landing-img-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#landing-text {
    font-family: oswald, sans-serif;
    font-size: 150%;

    width: 450px;
    height: 50px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(253, 192, 41, .7);

    top: 50px;
    left: 35%;

    position: absolute;
    border-radius: 2%;
}

#landing-text {
    height: 145px;
    width: 450px;

    /* animation effect on landing text */

    animation-name: landing-text-slidein;
    animation-duration: 5s;
}

/* screens 750px wide */
@media screen and (max-width: 750px) {
    #landing-img {
        height: 400px;
        width: 60%;
    }
}

/* create's the level of zoom for the image */

@keyframes landing-img-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* create the level of zoom for landing text */
@keyframes landing-text-slidein {
    from {
        margin-top: 100%;
        width: 450px
    }

    to {
        margin-top: 0%;
        width: 450px;
    }
}

/* meet the team */

.meet-the-team {
    height: 1000px;
    width: 100%;
}

#left-section {
    width: 40%;
    float: left;
    padding: 30px;
}

#right-section {
    width: 40%;
    float: right;
    padding: 30px;
}

hr {
    border-top: 2px solid #fdc029;
    margin: 5px;
    width: 100%;
}

/* Left section text and image */
.left-section-text {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin: 50px 0px 50px 30px;
    color: #fff;

}

.left-section-img {
    padding-left: 180px;
    padding-top: 60px;
}

.left-section-text h2 {
    text-align: center;
}

.left-section-text p {
    text-align: left;
    font-size: 20px;
    font-family: montserrat, sans-serif;
}

.circle-container {
    width: 400px;
    height: 400px;
    border-style: none;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

/* right section text and image */
.right-section-text {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin: 50px 50px 50px 20px;
    color: #fff;
    text-align: center;
}

.right-section-img {
    padding-top: 60px;
}

.right-section-text h2 {
    text-align: center;
}

.right-section-text p {
    text-align: left;
    font-size: 20px;
    font-family: montserrat, sans-serif;
}

/* screen size 750px */


/* background image for time and location section */

/* times and locations tiles */

#collection-cars {
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    margin-top: 18px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/collection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#future-cars {
    height: 400px;
    width: 50%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/futureicon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#euro-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/euro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#japan-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/japanese.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#usa-cars {
    height: 400px;
    width: 33.33%;
    float: left;
    padding-top: 30px;
    padding-left: 10px;
    border: 5px solid #fdc029;
    box-sizing: border-box;
    background-image: url(../images/home/usa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* time and locations text */

#time-location {
    height: 400px;
}

#time-location h2 {
    font-family: oswald, sans-serif;
    font-weight: 900;
    text-align: center;
    color: #fdc029;
    font-size: 50px;
    text-shadow: 3px 0 black;
}

#time-location h3 {
    font-family: oswald, sans-serif;
    font-weight: 800;
    text-align: center;
    color: #fdc029;
    font-size: 30px;
    text-shadow: 3px 0 black;
}

/* footer & social links */
footer {
    height: 100px;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 260%;
    margin: 1%;
    padding: 5%;
    color: #fdc029;
}

h4 {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

/* about matt section on about us page */

#about-matt-section {
    height: 525px;
    width: 100%;
    padding: 30px;
    float: left;
    border-top: 5px solid #fdc029;
}

#about-matt-img {
    width: 30%;
    float: left;
    padding: 30px;
}

#about-matt-text {
    width: 40%;
    float: left;
    padding: 30px;
}

#about-matt-text p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    position: absolute;
    padding-right: 100px;
}

/* about wendy section on about us page */

#about-wendy-section {
    height: 525px;
    width: 100%;
    padding: 30px;
    float: left;
    border-top: 5px solid #fdc029;
}

#about-wendy-img {
    width: 30%;
    float: left;
    padding: 30px;
}

#about-wendy-text {
    width: 40%;
    float: left;
    padding: 30px;
}

#about-wendy-text p {
    color: #fff;
    font-size: 20px;
    text-align: left;
    position: absolute;
    padding-right: 100px;
}

/* about the owners cars */

#our-cars-section {
    height: 500px;
    width: 100%;
    padding: 60px;
    float: left;
    border-top: 5px solid #fdc029;
    border-bottom: 5px solid #fdc029;
}

#matt-car {
    width: 40%;
    float: left;
    padding: 30px;
    margin-left: 150px;
    overflow: hidden;
}

#wendy-car {
    width: 40%;
    float: left;
    padding: 30px;
}

/* gallery page */
.gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    border-top: 5px solid #fdc029;
}

.gallery>img {
    width: 100%;
    border: 2px solid #fdc029;
}

/*screen sizes 850px or smaller*/
@media screen and (max-width:850px) {
    .gallery {
        column-count: 3;
    }
}

/*contact us page and sign up form*/

.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding: 20px 100px;
    border-top: 5px solid #fdc029;
    border-bottom: 5px solid #fdc029;
}

.form-container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/contact/Contactform.jpg) no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px);
}

.form-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: montserrat, sans-serif;
    background-color: black;
    border: 2px solid #fdc029;
}

.form-box h2 {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-box h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #fdc029;
}

.form-box h3 {
    position: relative;
    color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form-box h3::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #fdc029;
}

.form-left {
    height: 100%;
    background: url(../images/contact/Contactform.jpg) no-repeat center;
    background-size: cover;
}

.signup-left {
    height: 100%;
    background: url(../images/signup/signup.jpg) no-repeat center;
    background-size: cover;
}

.form-right {
    padding: 25px 40px;
}

.field {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
}

.field:hover {
    background-color: rgba(230, 230, 230, 0.8);
}

.field:focus {
    background-color: #fff;
    border: 2px solid #fdc029;
}

.yes,
.no {
    color: #fff;
}

.area {
    min-height: 300px;
}

.btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
    background-color: rgba(253, 192, 41, 1);
    outline: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: rgba(253, 192, 41, .7)
}

#map {

    height: 400px;
    border-bottom: 5px solid #fdc029;
}

#map-img {
    height: 100%;
    width: 100%;
    border: none;
}

/* medium to large screens 1200px */


/* screens smaller than 880px */
@media screen and (max-width: 880px) {

    .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-left {
        height: 200px;
    }

}